/* Home.css */

.gradient-bg {
    background: linear-gradient(135deg, #ffffff, #f0f0f0, #ffffff); /* Define your gradient colors */
    background-size: 600% 600%; /* Control the gradient size */
    animation: gradientAnimation 15s ease infinite; /* Define animation */
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .btn-primary,
  .btn-secondary {
    transition: background-color 0.3s ease; /* Smooth transition for background-color */
  }
  
  .btn-primary:hover {
    background-color: #1976d2; /* New background color on hover */
  }
  
  .btn-secondary:hover {
    background-color: #616161; /* New background color on hover */
  }
  